@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    font-family: "Poppins", serif;
    }

body{
    background-color: darkslategray;
    margin: 0;
    padding: 0;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    }
.BMI_container{
    background: white;
    width: 800px;
    height: 500px;
    padding: 30px;
    border-radius: 20px;
    display: flex;

}

.box{
    width: 400px;
    background-image: url('assets\download.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: 90%;
}

.data {
    padding: 30px;
}

h1{
    font-weight: 600;
    margin-bottom: 30px;
    text-transform: uppercase;
    color: cadetblue;
}
.input_container{
    margin: 5px;

}
input{
    
    margin-bottom: 10px;
    padding: 5px;
    border-radius: 10px;
    border-color: gray;
    border: 2px solid;
    }

label{
    display: block;
    color: gray;
    margin-bottom: 2px;
}
button {
    background-color: goldenrod;
    border: none;
    border-radius: 5px;
    font-weight: 500;
    padding: 5px;
    cursor: pointer;
    margin: 3px;
    
    }

.result {
    font-weight: 500;
    margin-top: 30px;
    border: 2px solid;
    border-radius: 10px;
    border-color: cornflowerblue;
    padding: 10px;
    
    }

    .result p{
        color: gray;
    }

    .result p:first-child{

        color: cadetblue;
    }
    

    .error{
        color: red;
    }

